body{
	background-color: #f9f9f9;
	color: #333;
	padding-top: 8rem;
}
header .title{
	margin-top: 0.5rem;
}
pre.widget{
	background-color: #23241f;
}
.fixed-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.scrollbars-demo-outer{
	overflow: scroll;
	width: 25rem;
	height: 25rem;
	background-color: #F24A13;
}
.scrollbars-demo-inner{
	width: 50rem;
	height: 50rem;
	padding: 2rem;
	box-sizing: border-box;
}

 /* highlight.js customize */
.hljs-attr{
	color: #60ff12 !important;
}
