body {
	background-color: #393F5F;
	color: white;
}
.scrollbars-demo-outer{
	overflow: scroll;
	width: 25rem;
	height: 25rem;
	background-color: #F24A13;
}
.scrollbars-demo-inner{
	width: 50rem;
	height: 50rem;
	padding: 2rem;
	box-sizing: border-box;
}
