///////////////////////////////////////////////////////////////////////////////////
////            WD CODE
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseCode == true

	code
		font-family: monospace
		display: inline-block
		padding: $wdWerneoCodePaddingVertical $wdWerneoCodePaddingHorizontal
		font-size: $wdWerneoTypographyBasicFontSize
		pre &
			background-color: transparent
			display: block
			margin: 0
			padding: 0

	code,pre
		background-color: rgba($wdWerneoBlack,0.25)

	pre
		margin: 0
		padding: $wdWerneoPreePaddingVertical $wdWerneoPreePaddingHorizontal
		overflow: auto
