::selection
	background: lighten($wdWerneoCrimson,10%)
	text-shadow: none

*,
*:after,
*::before
	box-sizing: border-box

html
	font-size: 62.5%

body
	font-family: $wdWerneoBasicFontFamily
	font-size: $wdWerneoBasicFontSize

.ib
	display: inline-block
