///////////////////////////////////////////////////////////////////////////////////
////            WD DYNAMIC FILTERS
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseDynaFilter == true

	.dynafilter-item
		max-height: $wdWerneoDynaFilterItemMaxHeight
		max-width: $wdWerneoDynaFilterItemMaxWidth
		opacity: 1
		transition: all $wdWerneoAminationDuration ease-in-out

	.dynafilter-hidden
		margin: 0 !important
		max-height: 0 !important
		max-width: 0 !important
		opacity: 0 !important
		overflow: hidden
		padding: 0 !important
