///////////////////////////////////////////////////////////////////////////////////
////            WD FLASH MESSAGES
///////////////////////////////////////////////////////////////////////////////////

.wd-flash-message-queue
    display: block
    position: fixed
    top: 7rem
    right: 2rem
    width: 20%
    min-width: 24rem
    z-index: 999999

.wd-flash-message
    display: block
    background-color: $wdWerneoWhite
    margin-bottom: 0.5rem
    overflow: hidden
    div.wd-flash-message-header
        display: block
        height: 3rem
        padding: 0.5rem
    div.wd-flash-message-body
        display: block
        padding: 0.5rem
    &.success
        border: 0.2rem solid $wdWerneoTeal
        div.wd-flash-message-header
            background-color: $wdWerneoTeal
        div.wd-flash-message-body
            background-color: $wdWerneoWhite
            p
                color: $wdWerneoWhite
    &.info
        border: 0.2rem solid $wdWerneoTurquoise
        div.wd-flash-message-header
            background-color: $wdWerneoTurquoise
    &.error
        border: 0.2rem solid $wdWerneoCrimson
        div.wd-flash-message-header
            background-color: $wdWerneoCrimson
    a.close
        line-height: 2rem
        height: 2rem
        width: 2rem
        color: $wdWerneoWhite
        display: block
        float: right
        font-size: 2rem
        text-decoration: none
        text-align: center
        text-shadow: 0.2rem 0.2rem 0 $wdWerneoGreyMedium
        &:hover
            text-shadow: 0.2rem 0.2rem 0 $wdWerneoBlack
    p
        font-size: 80%
        padding: 0.5rem
        line-height: 100%
        margin: 0
        color: $wdWerneoGreyDark
