///////////////////////////////////////////////////////////////////////////////////
////            WD FLASH MESSAGES
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseFlashMessages == true

	$wdWerneoFlashMessagesQueuePositionHorizontalSign: 1
	@if $wdWerneoFlashMessagesQueuePositionHorizontal == left
		$wdWerneoFlashMessagesQueuePositionHorizontalSign: -1

	.flash-message-queue
		display: block
		min-width: $wdWerneoFlashMessagesQueueMinWidth
		position: fixed
		width: $wdWerneoFlashMessagesQueueWidth
		z-index: 999999
		#{$wdWerneoFlashMessagesQueuePositionVertical}: $wdWerneoFlashMessagesQueueOffsetVertical
		#{$wdWerneoFlashMessagesQueuePositionHorizontal}: $wdWerneoFlashMessagesQueueOffsetHorizontal

	.flash-message
		background-color: $wdWerneoGreyDark
		border-color: darken($wdWerneoGreyDark, 5%)
		border-style: solid
		border-width: 0
		color: $wdWerneoWhite
		display: block
		margin-bottom: 0
		margin-left: calc(#{$wdWerneoFlashMessagesQueuePositionHorizontalSign * 100%} + #{$wdWerneoFlashMessagesQueuePositionHorizontalSign * $wdWerneoFlashMessagesQueueOffsetHorizontal})
		max-height: 0
		overflow: hidden
		padding: 0
		position: relative
		transition: margin-left $wdWerneoAminationDuration ease-in-out, max-height $wdWerneoAminationDuration $wdWerneoAminationDuration, padding $wdWerneoAminationDuration $wdWerneoAminationDuration, border $wdWerneoAminationDuration $wdWerneoAminationDuration, margin-bottom $wdWerneoAminationDuration $wdWerneoAminationDuration
		width: 100%
		&.active
			border-width: $wdWerneoFlashMessagesMessageBorder
			margin-bottom: $wdWerneoFlashMessagesMessageMarginBottom
			margin-left: 0
			max-height: 100vh
			padding: $wdWerneoFlashMessagesMessagePaddingVertical $wdWerneoFlashMessagesMessagePaddingHorizontal
			transition: margin-left $wdWerneoAminationDuration ease-in-out, max-height 0ms 0ms, padding 0ms 0ms, border 0ms 0ms, margin-bottom 0ms 0ms
		&.success
			background-color: $wdWerneoTeal
			border-color: darken($wdWerneoTeal, 5%)
		&.info
			background-color: $wdWerneoTurquoise
			border-color: darken($wdWerneoTurquoise, 5%)
		&.error
			background-color: $wdWerneoCrimson
			border-color: darken($wdWerneoCrimson, 5%)
		> .close
			cursor: pointer
			display: block
			font-size: $wdWerneoFlashMessagesMessageCloseSize
			height: $wdWerneoFlashMessagesMessageCloseSize
			line-height: $wdWerneoFlashMessagesMessageCloseSize
			position: absolute
			right: 0
			text-align: center
			top: 0
			width: $wdWerneoFlashMessagesMessageCloseSize
			&:hover
				text-shadow: 0.2rem 0.2rem 0 $wdWerneoBlack
