///////////////////////////////////////////////////////////////////////////////////
////            WD FORMS
///////////////////////////////////////////////////////////////////////////////////

label
    display: block
    &.required
        &:after
            content: '*'
            display: inline-block
            color: $wdWerneoCrimson
            margin-left: 0.5rem

input,select,textarea,option
    color: $wdWerneoGreyMedium
    font-size: $wdWerneoBasicFontSize
    font-family: $wdWerneoBasicFontFamily

input,select
    height: 5rem

input,select,textarea
    display: inline-block
    margin: 0
    padding: 0 1rem
    border: 0.4rem solid darken($wdWerneoGreyLight,10%)
    transition: all 300ms ease-in-out
    width: 100%
    +input-placeholder
        color: $wdWerneoGreyLight
        transition: color 300ms ease-in-out
    &:hover,&:focus,&:active
        +input-placeholder
            color: $wdWerneoGreyMedium
    &:focus,&:active
        outline: 0
        border-color: $wdWerneoGreyDark
    &[disabled],&[readonly]
        background-color: $wdWerneoGreyLightest
        color: $wdWerneoGreyMedium
    &.big
        height: 4rem
        font-size: 1.6rem
    &.medium
        height: 2.8rem
        font-size: 1.4rem
    &.small
        height: 2.4rem
        font-size: 1rem
        padding: 0 0.5rem
    @each $name, $color, in $wdWerneoColors
        &.#{$name}
            &:focus,&:active
                border-color: $color

input
    &[type="radio"],&[type="checkbox"]
        display: none
        & + label
            display: inline-block
            cursor: pointer
            margin-right: 1.5rem
            p
                display: inline-block
                margin-left: 2rem
            &::before
                content: ''
                display: inline-block
                width: 1.5rem
                height: 1.5rem
                border: 0.1rem solid $wdWerneoGreyLight
                background-color: $wdWerneoGreyLightest
                color: $wdWerneoGreyDark
                line-height: 1.2rem
                text-indent: -0.1rem
                text-align: center
                vertical-align: middle
                margin-right: 0.5rem
            &.required
                &::after
                    content: none
    &[type="radio"]
        & + label
            &::before
                border-radius: 50%
        &:checked
            & + label
                &::before
                    content: '\2022'
                    border: 0.1rem solid $wdWerneoGreyDark
    &[type="checkbox"]
        &:checked
            & + label
                &::before
                    content: '\2713'
                    border: 0.1rem solid $wdWerneoGreyDark
    &[type="number"]
        padding-right: 0

textarea
    padding: 0.5rem 1rem

select
    &[multiple="multiple"]
        height: auto
    option
        &[value=""]
            color: $wdWerneoGreyLight
            transition: color 300ms ease-in-out

.input-bound
    position: relative
    &.textarea
        input
            &.input-btn
                height: 100%
    &.double
        input,textarea,select
            &:first-child
                padding-right: 10rem
    .btn-group
        position: absolute
        right: 0
        top: 0
        height: 100%
        padding: 0.1rem
        box-sizing: border-box
        .btn
            width: 4rem
            float: right
            height: 100%
            text-align: center
            &:first-child
                float: left
    input,textarea,select
        color: $wdWerneoGreyDark
        &:first-child
            padding-right: 5rem

.form-errors
    margin: 0
    padding: 0
    ul
        margin: 0
        padding: 0
    li
        list-style: none
        padding: 0.5rem 1rem
        color: $wdWerneoCrimson

/// switch-like checkbox

.switch
    cursor: pointer
    height: 5rem
    display: flex
    align-items: center
    input[type="checkbox"]
        position: absolute
        opacity: 0
        width: 0.1rem
        height: 0.1rem
        &:checked
            & + .check
                background-color: $wdWerneoGreyMedium
                &::after
                    left: 4.1rem
    .check
        position: relative
        width: 5rem
        height: 2rem
        outline: 0.1rem solid $wdWerneoGreyLight
        border: 0.1rem solid $wdWerneoWhite
        cursor: pointer
        background-color: $wdWerneoGreyLight
        display: inline-block
        z-index: 1
        transition: background-color 200ms ease-in-out
        &::after
            content: ''
            position: absolute
            left: -0.1rem
            top: -0.1rem
            display: block
            width: 1rem
            height: 2rem
            outline: 0.1rem solid $wdWerneoGreyDark
            background-color: $wdWerneoGreyDark
            z-index: 2
            transition: left 200ms ease-in-out
    .label
        line-height: 2rem
        height: 2rem
        vertical-align: top
        padding: 0 1rem
    @each $name, $color, in $wdWerneoColors
        &.#{$name}
            input[type="checkbox"]
                &:checked
                    & + .check
                        background-color: $color
