///////////////////////////////////////////////////////////////////////////////////
////            WD GALLERY
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseGallery == true

	.gallery
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		overflow: hidden
		position: relative
		width: 100%
		& > *
			opacity: 0
			transition: opacity $wdWerneoAminationDuration ease-in-out
		&::before
			color: $wdWerneoGreyDark
			content: attr(data-loading-text)
			display: block
			height: 100%
			left: 0
			padding: 2rem
			position: absolute
			text-align: center
			top: 0
			width: 100%
			z-index: 2
		&::after
			+diagonal-split-background($wdWerneoGreyLight, $wdWerneoGreyLightest)
			animation: loadMoreSpinner 2s infinite
			background-position: 50% 50%
			border-radius: 50%
			content: ''
			display: block
			height: 6rem
			left: 50%
			margin-left: -3rem
			margin-top: -3rem
			position: absolute
			top: 50%
			width: 6rem
			z-index: 1
		&.showing
			& > *
				opacity: 1
			&::before
				display: none
			&::after
				display: none

	.gallery-item
		display: block
		flex-shrink: 0
		img
			height: auto
			width: 100%
