///////////////////////////////////////////////////////////////////////////////////
////            WD MODAL BUTTONS
///////////////////////////////////////////////////////////////////////////////////

.modal-btn
    display: inline-block
    position: relative
    @each $name, $color, in $wdWerneoColors
        &.#{$name}
            $inverseColor: $wdWerneoWhite
            @if $name == 'white' or $name == 'grey-light'
                $inverseColor: $wdWerneoGreyMedium
            &::before
                background: rgba(darken($color,50%),0.5)
            .modal-btn-content
                .header
                    background-color: $color
                    color: $inverseColor
                    border-bottom: 0.4rem solid lighten($color,20%)
                    .close
                        color: $inverseColor
    &::before
        opacity: 0
        pointer-events: none
        position: fixed
        top: 0
        left: 0
        z-index: 800
        width: 100%
        height: 100%
        content: ''
        transition: opacity 400ms 400ms
    .modal-btn-trigger
        display: block
        pointer-events: auto
        transition: opacity 300ms 300ms
        & > *
            transition: opacity 300ms 500ms
    .modal-btn-content
        position: fixed
        overflow: hidden
        opacity: 0
        z-index: 1000
        pointer-events: none
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)
        transition: opacity 400ms 600ms, width 400ms 100ms, height 400ms 100ms, top 400ms 100ms, left 400ms 100ms, margin 400ms 100ms
        & > *
            opacity: 0
            transition: opacity 300ms 0
        .close-times
            display: block
            position: absolute
            top: 1rem
            right: 1rem
            z-index: 1101
            opacity: 0.3
            transition: opacity 400ms ease-in-out
            &:hover
                opacity: 1
        .header
            position: absolute
            top: 0
            left: 0
            width: 100%
            padding: 1rem 3.5rem 0.5rem 1rem
            margin: 0
            z-index: 1100
            p
                font-size: 2.4rem
                margin: 0
                +hellip
        .body
            margin-top: 4.3rem
            padding: 1rem 2rem 2rem 2rem
            z-index: 1099
            height: 20.2rem
            overflow: auto
            p
                margin: 0
        .footer
            z-index: 1100
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            padding: 0.5rem
            margin: 0
            background-color: $wdWerneoGreyLightest
            border-top: 0.1rem solid $wdWerneoGreyLight

    /// functional
    &.open
        &::before
            opacity: 1
            pointer-events: auto
            transition: opacity 400ms 100ms
        .modal-btn-trigger
            opacity: 0
            pointer-events: none
            transition: opacity 100ms 100ms
            & > *
                opacity: 0
                transition: opacity 300ms
        .modal-btn-content
            opacity: 1
            pointer-events: auto
            box-sizing: border-box
            transition: opacity 100ms 100ms, width 400ms 100ms, height 400ms 100ms, top 400ms 100ms, left 400ms 100ms, margin 400ms 100ms
            & > *
                opacity: 1
                transition: opacity 400ms 500ms
        .list-item-overlay
            opacity: 0
            pointer-events: none
            height: 0
            transition: all 300ms 0
