///////////////////////////////////////////////////////////////////////////////////
////            WD MODALS
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseModals == true

	.modal-container
		background-color: rgba($wdWerneoModalsBackgroundColor, 0.75)
		display: block
		height: 100%
		left: 0
		max-height: 0
		max-width: 0
		opacity: 0
		overflow: hidden
		position: fixed
		top: 0
		transition: opacity $wdWerneoAminationDuration $wdWerneoAminationDuration / 2, max-width 0ms $wdWerneoAminationDuration * 1.5, max-height 0ms $wdWerneoAminationDuration * 1.5
		width: 100%
		z-index: 99999
		&.active
			max-height: 100%
			max-width: 100%
			opacity: 1
			transition: opacity $wdWerneoAminationDuration
			.modal
				opacity: 1
		.modal
			background-color: $wdWerneoWhite
			box-shadow: 0 0 $wdWerneoModalsBoxShadowFeather 0 rgba($wdWerneoModalsBackgroundColor, 25%)
			height: $wdWerneoModalsBasicHeight
			left: 0
			margin-left: 0
			margin-top: -$wdWerneoModalsBasicHeight / 2
			opacity: 0
			overflow: hidden
			position: absolute
			top: 50%
			transition: opacity $wdWerneoAminationDuration
			width: 100%
			+responsive(tablet)
				left: 50%
				margin-left: -$wdWerneoModalsBasicWidth / 2
				width: $wdWerneoModalsBasicWidth
			& > .close
				color: $wdWerneoWhite
				opacity: 0.5
				padding: $wdWerneoModalsCloseButtonPaddingVertical $wdWerneoModalsCloseButtonPaddingHorizontal
				position: absolute
				right: $wdWerneoModalsCloseButtonOffsetHorizontal
				text-decoration: none
				top: $wdWerneoModalsCloseButtonOffsetVertical
				transition: opacity $wdWerneoAminationDuration
				&:hover
					opacity: 1
			& > iframe
				border: 0
				height: 100%
				margin: 0
				overflow: auto
				padding: 0
				width: 100%

		&.tall
			.modal
				height: $wdWerneoModalsTallHeight
				margin-top: 0
				top: calc((100% - #{$wdWerneoModalsTallHeight}) / 2)
		&.wide
			.modal
				height: $wdWerneoModalsWideHeight
				margin-top: 0
				top: calc((100% - #{$wdWerneoModalsWideHeight}) / 2)
				+responsive(tablet)
					left: calc((100% - #{$wdWerneoModalsWideWidth}) / 2)
					margin-left: 0
					width: $wdWerneoModalsWideWidth
		&.medium
			.modal
				height: $wdWerneoModalsMediumHeight
				margin-top: 0
				top: calc((100% - #{$wdWerneoModalsMediumHeight}) / 2)
				+responsive(tablet)
					left: calc((100% - #{$wdWerneoModalsMediumWidth}) / 2)
					margin-left: 0
					width: $wdWerneoModalsMediumWidth
		&.large
			.modal
				height: $wdWerneoModalsLargeHeight
				margin-top: 0
				top: calc((100% - #{$wdWerneoModalsLargeHeight}) / 2)
				+responsive(tablet)
					left: calc((100% - #{$wdWerneoModalsLargeWidth}) / 2)
					margin-left: 0
					width: $wdWerneoModalsLargeWidth
		&.full
			.modal
				height: $wdWerneoModalsFullHeight
				left: calc((100% - #{$wdWerneoModalsFullWidth}) / 2)
				margin-left: 0
				margin-top: 0
				top: calc((100% - #{$wdWerneoModalsFullHeight}) / 2)
				width: $wdWerneoModalsFullWidth
