///////////////////////////////////////////////////////////////////////////////////
////            WD PAGINATION
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUsePagination == true

	.pagination
		display: block
		text-align: center
		ul
			width: 100%
		ul,li
			list-style: none
			display: inline
			padding-left: 0
		li
			&:nth-child(n)
				a,span
					display: none
					+responsive(tablet)
						display: inline-block
			&:first-child
				float: left
				margin-right: $wdWerneoPaginationDirectionNavigationMargin
				a,span
					display: inline-block
			&:last-child
				float: right
				margin-left: $wdWerneoPaginationDirectionNavigationMargin
				a,span
					display: inline-block
			&.active
				a,span
					display: inline-block
					font-weight: $wdWerneoBold
			&.dots
				display: none
				&:after
					padding: $wdWerneoPaginationDotsMarginVertical / 2 $wdWerneoPaginationDotsMarginHorizontal / 2
					content: '\2026'
					+responsive(desktop)
						padding: $wdWerneoPaginationDotsMarginVertical $wdWerneoPaginationDotsMarginHorizontal
				+responsive(tablet)
					display: inline-block
			a,span
				text-decoration: none
				display: inline-block
				text-align: center
				padding: $wdWerneoPaginationItemPaddingVertical $wdWerneoPaginationItemPaddingHorizontal
				line-height: $wdWerneoPaginationItemHeight - (2 * $wdWerneoPaginationItemPaddingVertical)
				height: $wdWerneoPaginationItemHeight
				color: inherit
				position: relative
				@if $wdWerneoPaginationItemBorderRadius != 0
					border-radius: $wdWerneoPaginationItemBorderRadius
			span
				color: $wdWerneoGreyLightest
				.chevron
					&:after,&:before
						background-color: $wdWerneoGreyLightest
			a
				.chevron
					&:after,&:before
						background-color: $wdWerneoWhite
		@each $name, $color, in $wdWerneoColors
			&.#{$name}
				$inverseColor: $wdWerneoWhite
				@if $name == 'white' or $name == 'grey-light'
					$inverseColor: $wdWerneoGreyMedium
				li
					&:hover
						a
							+diagonal-split-background-hover
					&.active
						a,span
							color: $color
							+diagonal-split-background(darken($inverseColor,10%),$inverseColor)
					a,span
						+diagonal-split-background(darken($color,10%),$color)
					a
						color: $inverseColor
						.chevron
							&:after,&:before
								background-color: $inverseColor
					span
						color: darken($inverseColor,20%)
						.chevron
							&:after,&:before
								background-color: darken($inverseColor,20%)
