///////////////////////////////////////////////////////////////////////////////////
////            WD PROGRESSBAR
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseProgressBar == true

	.progressbar
		width: 100%
		display: block
		height: $wdWerneoProgressBarHeight
		border: $wdWerneoProgressBarBorderWidth solid $wdWerneoGreyLightest
		background-color: $wdWerneoGreyLightest
		box-sizing: border-box
		position: relative
		/// size
		&.sm
			height: $wdWerneoProgressBarHeight * (2/3)
			border-width: $wdWerneoProgressBarBorderWidth * (2/3)
		&.lg
			height: $wdWerneoProgressBarHeight * (4/3)
			border-width: $wdWerneoProgressBarBorderWidth * (4/3)

		/// progress element
		span
			display: block
			height: 100%
			transition: width 600ms ease-in-out
			position: absolute
			top: 0
			left: 0
			/// color
			@each $name, $color, in $wdWerneoColors
				&.#{$name}
					background-color: $color
