///////////////////////////////////////////////////////////////////////////////////
////            WD SCROLLBARS
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseScrollbars == true

	::-webkit-scrollbar
		height: $wdWerneoScrollbarsHeight
		width: $wdWerneoScrollbarsWidth
	::-webkit-scrollbar-corner
		background-color: $wdWerneoScrollbarsTrackColor
	::-webkit-scrollbar-thumb
		background: $wdWerneoScrollbarsThumbColor
	::-webkit-scrollbar-track
		background: $wdWerneoScrollbarsTrackColor

	body
		scrollbar-face-color: darken($wdWerneoScrollbarsThumbColor, 10%)
		scrollbar-track-color: $wdWerneoScrollbarsBodyTrackColor
		&::-webkit-scrollbar-track
			background: $wdWerneoScrollbarsBodyTrackColor
		&::-webkit-scrollbar-thumb
			border: $wdWerneoScrollbarsBodyBorderWidth solid $wdWerneoScrollbarsBodyTrackColor
