///////////////////////////////////////////////////////////////////////////////////
////            WD SCROLLBARS
///////////////////////////////////////////////////////////////////////////////////

::-webkit-scrollbar
    width: 10px
    height: 10px
::-webkit-scrollbar-thumb
    background: $wdWerneoGreyLight
::-webkit-scrollbar-track
    background: $wdWerneoGreyLightest

body
    scrollbar-face-color: $wdWerneoGreyLight
    scrollbar-track-color: $wdWerneoGreyLightest
