///////////////////////////////////////////////////////////////////////////////////
////            WD SCROLLBARS
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseScrollbars == true

	::-webkit-scrollbar
		height: $wdWerneoScrollbarsHeight
		width: $wdWerneoScrollbarsWidth
	::-webkit-scrollbar-thumb
		background: darken($wdWerneoGreyLight, 10%)
		border: $wdWerneoScrollbarsBorderWidth solid $wdWerneoGreyLightest
	::-webkit-scrollbar-track
		background: $wdWerneoGreyLightest

	body
		scrollbar-face-color: darken($wdWerneoGreyLight, 10%)
		scrollbar-track-color: $wdWerneoGreyLightest
