///////////////////////////////////////////////////////////////////////////////////
////            WD TABLES
///////////////////////////////////////////////////////////////////////////////////

table
	&.wd-table
		width: 100%
		background-color: $wdWerneoWhite
		border-collapse: collapse
		border-spacing: 0
		th
			padding: 1rem
			color: $wdWerneoWhite
			font-weight: $wdWerneoNormal
		td
			padding: 0.5rem 1rem
			font-weight: $wdWerneoLighter
		th,td
			text-align: center
			&:first-child
				text-align: left
			&:last-child
				text-align: right
		
		/// colors
		@each $name, $color, in $wdWerneoColors
			&.#{$name}
				th
					background-color: $color
				tr
					&:nth-child(2n)
						td
							background-color: rgba($color,0.1)
