///////////////////////////////////////////////////////////////////////////////////
////            WD TABS
///////////////////////////////////////////////////////////////////////////////////

.tabs
    &.vertical
        .tab-nav
            position: relative
            border-bottom: none
            z-index: 2
            .nav
                display: block
                border-bottom: 0.1rem solid $wdWerneoGreyLight
                border-right: none
                margin-bottom: 0.2rem
                padding: 0.5rem 1rem
                margin-right: -0.1rem
                &.active
                    border-left: 0.4rem solid $wdWerneoGreyDark
                    margin-right: -0.2rem
                    border-bottom: 0.1rem solid $wdWerneoGreyLight
                    border-top: 0.1rem solid $wdWerneoGreyLight
        .tab-content
            border-top: 0.1rem solid $wdWerneoGreyLight
            border-left: 0.1rem solid $wdWerneoGreyLight
            position: relative
            z-index: 1

    /// colors
    @each $name, $color, in $wdWerneoColors
        $inverseColor: $wdWerneoWhite
        @if $name == 'white' or $name == 'grey-light'
            $inverseColor: $wdWerneoGreyMedium
        &.#{$name}
            .tab-nav
                border-bottom-color: $color
                .nav
                    background-color: darken($color,20%)
                    border-color: $color
                    &:hover
                        background-color: darken($color,10%)
                    &.active
                        background-color: $inverseColor
                        border-top-color: $color
                        border-bottom-color: $inverseColor
                        label
                            color: $color
            .tab-content
                border-color: $color
            &.full-colored
                .tab-nav
                    .nav
                        &.active
                            background-color: $color
                            border-top-color: $inverseColor
                            border-bottom-color: $color
                            label
                                color: $inverseColor

.tab-nav
    border-bottom: 0.1rem solid $wdWerneoGreyLight
    .nav
        display: inline-block
        background-color: darken($wdWerneoGreyLight,20%)
        border: 0.1rem solid $wdWerneoGreyLight
        border-bottom: none
        &:hover
            background-color: darken($wdWerneoGreyLight,10%)
        &.active
            background-color: $wdWerneoWhite
            border-top: 0.4rem solid $wdWerneoGreyDark
            border-bottom: 0.1rem solid $wdWerneoWhite
            margin-bottom: -0.1rem
            label
                color: $wdWerneoGreyDark
        & > *
            padding: 0.5rem 1rem
            line-height: 1.6rem
            font-size: 1.4rem
            cursor: pointer
        label
            display: block
            margin: 0
            color: $wdWerneoWhite

.tab-content
    border: 0.1rem solid $wdWerneoGreyLight
    border-top: none
    padding: 2rem

.tab
    display: none
    &.active
        display: block
