///////////////////////////////////////////////////////////////////////////////////
////            WD TABS
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseTabs == true

	.tabs
		&.vertical
			.tab-nav
				position: relative
				border-bottom: none
				border-right: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
				z-index: 2
				.nav
					display: block
					margin-bottom: $wdWerneoTabsVarticalMarginBottom
					&.active
						border-left: $wdWerneoTabsBorderWidthActive solid $wdWerneoGreyDark
						margin-right: -$wdWerneoTabsBorderWidth
						border-bottom: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
						border-top: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
						border-right: none
			.tab-content
				border-top: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
				border-left: none
				position: relative
				z-index: 1

		/// colors
		@each $name, $color, in $wdWerneoColors
			$inverseColor: $wdWerneoWhite
			&.#{$name}
				.tab-nav
					border-bottom-color: $color
					.nav
						background-color: desaturate(darken($color,20%),40%)
						border-color: $color
						&:hover
							background-color: desaturate(darken($color,10%),20%)
						&.active
							background-color: $inverseColor
							border-top-color: $color
							border-bottom-color: $inverseColor
							label
								color: $color
				.tab-content
					border-color: $color
				&.full-colored
					.tab-nav
						.nav
							&.active
								background-color: $color
								border-top-color: $inverseColor
								border-bottom-color: $color
								label
									color: $inverseColor
				&.vertical
					.tab-nav
						border-right-color: $color
						.nav
							&.active
								border-bottom-color: $color
								border-left-color: $color
								border-right-color: $inverseColor
					&.full-colored
						.tab-nav
							.nav
								&.active
									border-top-color: $color
									border-left-color: $inverseColor
		/// specialities
		&.white,&.grey-light
			&,&.full-colored
				.tab-nav
					.nav
						&.active
							label
								color: $wdWerneoGreyDark

	.tab-nav
		border-bottom: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
		.nav
			display: inline-block
			background-color: darken($wdWerneoGreyLight,20%)
			&:hover
				background-color: darken($wdWerneoGreyLight,10%)
			&.active
				background-color: $wdWerneoWhite
				border-top: $wdWerneoTabsBorderWidthActive solid $wdWerneoGreyDark
				border-left: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
				border-right: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
				border-bottom: $wdWerneoTabsBorderWidth solid $wdWerneoWhite
				margin-bottom: -$wdWerneoTabsBorderWidth
				label
					color: $wdWerneoGreyDark
			& > *
				padding: $wdWerneoTabsNavigationPaddingVertical $wdWerneoTabsNavigationPaddingHorizontal
				cursor: pointer
			label
				display: block
				margin: 0
				color: $wdWerneoWhite

	.tab-content
		border: $wdWerneoTabsBorderWidth solid $wdWerneoGreyLight
		border-top: none
		padding: $wdWerneoTabsContentPaddingVertical $wdWerneoTabsContentPaddingHorizontal

	.tab
		display: none
		&.active
			display: block
