///////////////////////////////////////////////////////////////////////////////////
////            WD TIMELINE
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseTimeline == true

	.timeline
		position: relative
		&::before
			background-color: $wdWerneoTimelineLineColor
			content: ''
			height: 100%
			left: ($wdWerneoTimelineIconSize - $wdWerneoTimelineLineWidth) / 2
			position: absolute
			top: 0
			width: $wdWerneoTimelineLineWidth
			+responsive(desktop)
				left: 50%
				margin-left: -$wdWerneoTimelineLineWidth / 2

		@each $name, $color in $wdWerneoColors
			&.#{$name}
				&::before
					background-color: $color
				.timeline-milestone-icon
					border-color: $color

	.timeline-milestone
		+clearfix
		position: relative

	.timeline-milestone-icon
		border: $wdWerneoTimelineLineWidth solid $wdWerneoTimelineLineColor
		height: $wdWerneoTimelineIconSize
		left: 0
		position: absolute
		text-align: center
		top: $wdWerneoTimelineIconOffset
		width: $wdWerneoTimelineIconSize
		@if $wdWerneoTimelineIconBorderRadius != 0
			border-radius: $wdWerneoTimelineIconBorderRadius
		i
			&.fa
				height: $wdWerneoTimelineIconSize - (2 * $wdWerneoTimelineLineWidth)
				line-height: $wdWerneoTimelineIconSize - (2 * $wdWerneoTimelineLineWidth)
				+responsive(desktop)
					height: ($wdWerneoTimelineIconSize * 1.5) - (2 * $wdWerneoTimelineLineWidth)
					line-height: ($wdWerneoTimelineIconSize * 1.5) - (2 * $wdWerneoTimelineLineWidth)

		+responsive(desktop)
			backface-visibility: hidden
			height: $wdWerneoTimelineIconSize * 1.5
			left: 50%
			margin-left: -($wdWerneoTimelineIconSize * 1.5) / 2
			transform: translateZ(0)
			width: $wdWerneoTimelineIconSize * 1.5
			&.hidden
				visibility: hidden
			&.animate
				animation: bounceScaleIn $wdWerneoAminationDuration * 1.5
				visibility: visible

	.timeline-milestone-content
		margin-left: $wdWerneoTimelineIconSize * 1.5
		padding: $wdWerneoTimelineContentPaddingVertical * 0.5 $wdWerneoTimelineContentPaddingHorizontal * 0.75
		position: relative
		@if $wdWerneoTimelineContentBorderRadius != 0
			border-radius: $wdWerneoTimelineContentBorderRadius
		&::before
			border: $wdWerneoTimelineArrowSize solid transparent
			border-right-color: $wdWerneoTimelineLineColor
			content: ''
			height: 0
			position: absolute
			right: 100%
			top: ($wdWerneoTimelineIconOffset + ($wdWerneoTimelineIconSize / 2)) - $wdWerneoTimelineArrowSize
			width: 0
		+responsive(desktop)
			margin-left: 0
			padding: $wdWerneoTimelineContentPaddingVertical $wdWerneoTimelineContentPaddingHorizontal
			width: $wdWerneoTimelineContentWidth
			&::before
				border-color: transparent
				border-left-color: $wdWerneoTimelineLineColor
				left: 100%
				top: ($wdWerneoTimelineIconOffset + (($wdWerneoTimelineIconSize * 1.5) / 2)) - $wdWerneoTimelineArrowSize
			.timeline-milestone:nth-child(even) &
				float: right
				&::before
					border-color: transparent
					border-right-color: $wdWerneoTimelineLineColor
					left: auto
					right: 100%
			&.hidden
				visibility: hidden
			&.animate
				animation: bounceSlideInLeft $wdWerneoAminationDuration * 1.5
				visibility: visible

		@each $name, $color in $wdWerneoColors
			&.bg-#{$name}
				&::before
					border-right-color: $color
				+responsive(desktop)
					&::before
						border-color: transparent
						border-left-color: $color
					.timeline-milestone:nth-child(even) &
						&::before
							border-right-color: $color

	+responsive(desktop)
		.timeline-milestone:nth-child(even)
			.timeline-milestone-content
				&.animate
					animation: bounceSlideInRight $wdWerneoAminationDuration * 1.5
