///////////////////////////////////////////////////////////////////////////////////
////            WD TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////////

/// placeholders
%headline
    font-weight: $wdWerneoNormal
    font-size: 2.2rem !important
    +responsive(desktop)
        font-size: 2.6rem !important
%subheadline
    font-size: 2rem !important
    font-weight: $wdWerneoNormal


/// default alignment (non-responsive)
+text-aligns('')

/// responsive alignment
@each $scope, $name in $wdFlexieScopes
    +responsive($scope)
        +text-aligns($name + '-')

/// overrides
.no-ellipsis
    white-space: normal !important
.hellip
    +hellip

/// transformations
.wd-tt-uc
    text-transform: uppercase
.wd-tt-no
    text-transform: none

p,h1,h2,h3,h4,h5,h6
    font-size: 1.2rem
    line-height: 150%
    font-weight: $wdWerneoLighter
    margin: 0
    +responsive(tablet)
        font-size: 1.3rem
    +responsive(desktop)
        font-size: 1.6rem
    &.normal    /// to normalize when overriden by parent
        font-size: 1.6rem
    &.headline
        @extend %headline
    &.subheadline,&.h2
        @extend %subheadline
    &.h3
        font-size: 1.8rem
        font-weight: $wdWerneoBold
        margin-bottom: 0.8rem
    &.h4
        font-weight: $wdWerneoBold
        margin-bottom: 0.5rem
    &.h5
        text-decoration: underline
        margin-bottom: 0.5rem
    &.h6
        font-size: 1.25rem
        text-decoration: underline
        margin-bottom: 0.25rem
    &.emph
        font-size: 1.75rem
        font-weight: $wdWerneoNormal
        margin-bottom: 1rem
    &.small
        font-size: 1.1rem
    small,big
        display: inline

small
    font-size: 120%
    display: inline-block
small
    font-size: 80%
    display: inline-block

.headline
    @extend %headline
.subheadline
    @extend %subheadline

/// colors
@each $name,$color in $wdWerneoColors
    .text-#{$name}
        color: $color !important
