///////////////////////////////////////////////////////////////////////////////////
////            WD TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////////

@if $wdWerneoUseTypography == true

	p,h1,h2,h3,h4,h5,h6,label
		font-size: $wdWerneoTypographyBasicFontSize
		line-height: $wdWerneoTypographyBasicLineHeight
		font-weight: $wdWerneoNormal
		margin: 0
		&.h1
			font-weight: $wdWerneoBold
			font-size: 175%
		&.h2
			font-size: 150%
			font-weight: $wdWerneoBold
		&.h3
			font-size: 125%
			font-weight: $wdWerneoBold
		&.h4
			font-weight: $wdWerneoBold
		&.h5
			text-decoration: underline
		&.h6
			font-size: 85%
			text-decoration: underline
		article &
			margin-bottom: $wdWerneoTypographyArticleParagraphMarginBottom

	big
		font-size: $wdWerneoTypographyBigFontSize
	small
		font-size: $wdWerneoTypographySmallFontSize

	/// default alignment (non-responsive)
	+text-aligns('')
	/// responsive alignment
	@each $scope, $name in $wdWerneoScopes
		+responsive($scope)
			+text-aligns($name + '-')

	/// ellipsis
	.no-hellip
		white-space: normal !important
	.hellip
		+hellip

	/// transformations
	.tt-uc
		text-transform: uppercase
	.tt-lc
		text-transform: lowercase

	/// colors
	@each $name,$color in $wdWerneoColors
		.text-#{$name}
			color: $color !important
