///////////////////////////////////////////////////////////////////////////////////
///            SWITCHES (plus additional size if minified)
///            minimal size is 2.5 kB
///            maximal size is 122 kB
///////////////////////////////////////////////////////////////////////////////////

/// use backgrounds ~ 0.5 kB
$wdWerneoUseBackgrounds: true !default
/// use badges ~ 0.5 kB
$wdWerneoUseBadges: true !default
/// use breadcrumbs ~ 1.25 kB
$wdWerneoUseBreadcrumbs: true !default
/// use buttons ~ 13 kB
$wdWerneoUseButtons: true !default
/// use chevrons ~ 1 kB
$wdWerneoUseChevrons: true !default
/// use code ~ 0.25 kB
$wdWerneoUseCode: true !default
/// use dropdowns ~ 28 kB
$wdWerneoUseDropdowns: true !default
/// use dynamic filters ~ 0.25 kB
$wdWerneoUseDynaFilter: true !default
/// use flash messages ~ 1.25 kB
$wdWerneoUseFlashMessages: true !default
/// use forms ~ 14 kB
$wdWerneoUseForms: true !default
/// use gallery ~ 1.25 kB
$wdWerneoUseGallery: true !default
/// use groups ~ 0.1 kB
$wdWerneoUseGroups: true !default
/// use lists ~ 15 kB
$wdWerneoUseLists: true !default
/// use modal buttons ~ 5 kB
$wdWerneoUseModalButtons: true !default
/// use modals ~ 2 kB
$wdWerneoUseModals: true !default
/// use pagination ~ 11 kB
$wdWerneoUsePagination: true !default
/// use progressbar ~ 1 kB
$wdWerneoUseProgressBar: true !default
/// use scrollbars ~ 0.25 kB
$wdWerneoUseScrollbars: true !default
/// use tables ~ 3.5 kB
$wdWerneoUseTables: true !default
/// use tabs ~ 9 kB
$wdWerneoUseTabs: true !default
/// use timeline ~ 6 kB
$wdWerneoUseTimeline: true !default
/// use tree view ~ 6 kB
$wdWerneoUseTreeView: true !default
/// use typography ~ 1.75 kB
$wdWerneoUseTypography: true !default
/// use widgets ~ 0.1 kB
$wdWerneoUseWidgets: true !default

///////////////////////////////////////////////////////////////////////////////////
///            GENERAL VARIABLES
///////////////////////////////////////////////////////////////////////////////////

/// base variables
$wdWerneoBorderRadius: 0 !default
$wdWerneoElementSize: 5rem !default

/// colors
$wdWerneoBlack: #000 !default
$wdWerneoCrimson: #dc143c !default
$wdWerneoGreyDark: #333 !default
$wdWerneoGreyMedium: #666 !default
$wdWerneoGreyLight: #ddd !default
$wdWerneoGreyLightest: #eee !default
$wdWerneoMauve: #d473d4 !default
$wdWerneoOrange: #f45633 !default
$wdWerneoTeal: #028428 !default
$wdWerneoTurquoise: #5af !default
$wdWerneoWhite: #fff !default
$wdWerneoYellow: #ffc200 !default

/// color map
$wdWerneoColors: ('turquoise' $wdWerneoTurquoise,'teal' $wdWerneoTeal,'yellow' $wdWerneoYellow,'crimson' $wdWerneoCrimson,'mauve' $wdWerneoMauve,'grey-dark' $wdWerneoGreyDark,'grey-light' $wdWerneoGreyLight,'orange' $wdWerneoOrange,'white' $wdWerneoWhite,'black' $wdWerneoBlack) !default

/// font weights
$wdWerneoLighter: 200 !default
$wdWerneoNormal: 400 !default
$wdWerneoBold: 700 !default

///////////////////////////////////////////////////////////////////////////////////
///            COMPONENT VARIABLES
///////////////////////////////////////////////////////////////////////////////////

/// badges
$wdWerneoBadgesPaddingVertical: 0.5rem !default
$wdWerneoBadgesPaddingHorizontal: 1rem !default

/// breadcrumbs
$wdWerneoBreadcrumbsRoot: "\\\\ " !default
$wdWerneoBreadcrumbsSeparator: " \\ " !default
$wdWerneoBreadcrumbsSubcrumbBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoBreadcrumbsSubcrumbBorderStyle: solid !default
$wdWerneoBreadcrumbsSubcrumbBorderWidth: 0.1rem !default
$wdWerneoBreadcrumbsSubcrumbMaxHeight: 20rem !default
$wdWerneoBreadcrumbsSubcrumbMaxWidth: 30rem !default
$wdWerneoBreadcrumbsSubcrumbPaddingHorizontal: 1rem !default
$wdWerneoBreadcrumbsSubcrumbPaddingVertical: 0.5rem !default
$wdWerneoBreadcrumbsSubcrumbTriggerHeight: 1rem !default
$wdWerneoBreadcrumbsSubcrumbTriggerWidth: 1rem !default

/// buttons
$wdWerneoButtonsBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoButtonsFocusAnimationDuration: 1000ms !default
$wdWerneoButtonsFocusAnimationFunction: diagonalSplitBackgroundHover !default
$wdWerneoButtonsLoadingAnimationDuration: 1000ms !default
$wdWerneoButtonsLoadingAnimationFunction: loadMoreSpinner !default
$wdWerneoButtonsLoadingSize: $wdWerneoElementSize !default
$wdWerneoButtonsOutlineStyle: solid !default
$wdWerneoButtonsOutlineWidth: 0.2rem !default
$wdWerneoButtonsPaddingVertical: 1.6rem !default
$wdWerneoButtonsPaddingHorizontal: 3rem !default

/// chevrons
$wdWerneoChevronsHeight: 0.4rem !default
$wdWerneoChevronsWidth: 1.2rem !default

/// code
$wdWerneoCodePaddingHorizontal: 1rem !default
$wdWerneoCodePaddingVertical: 0.25rem !default
$wdWerneoPreePaddingHorizontal: 2rem !default
$wdWerneoPreePaddingVertical: 0 !default

/// dropdowns
$wdWerneoDropdownsBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoDropdownsBorderWidth: 0.4rem !default
$wdWerneoDropdownsDividerHeight: 0.1rem !default
$wdWerneoDropdownsDividerMarginHorizontal: 0 !default
$wdWerneoDropdownsDividerMarginVertical: 0.5rem !default
$wdWerneoDropdownsHeight: $wdWerneoElementSize !default
$wdWerneoDropdownsMaxViewportHeight: 90vh !default
$wdWerneoDropdownsOptionBorderTopWidth: 0.1rem !default
$wdWerneoDropdownsOptionPaddingHorizontal: 1.5rem !default
$wdWerneoDropdownsOptionPaddingVertical: 0 !default
$wdWerneoDropdownsValuePaddingHorizontal: 1rem !default

/// dynamic filters
$wdWerneoDynaFilterItemMaxHeight: 50rem !default
$wdWerneoDynaFilterItemMaxWidth: 50rem !default

/// flash messages
$wdWerneoFlashMessagesMessageBorder: 0.4rem !default
$wdWerneoFlashMessagesMessageCloseSize: 2rem !default
$wdWerneoFlashMessagesMessageMarginBottom: 0.5rem !default
$wdWerneoFlashMessagesMessagePaddingHorizontal: 1rem !default
$wdWerneoFlashMessagesMessagePaddingVertical: 1rem !default
$wdWerneoFlashMessagesQueueMinWidth: 24rem !default
$wdWerneoFlashMessagesQueueOffsetHorizontal: 2rem !default
$wdWerneoFlashMessagesQueueOffsetVertical: 2rem !default
$wdWerneoFlashMessagesQueuePositionHorizontal: right !default
$wdWerneoFlashMessagesQueuePositionVertical: bottom !default
$wdWerneoFlashMessagesQueueWidth: 20% !default

/// forms
$wdWerneoFormsBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoFormsBorderStyle: solid !default
$wdWerneoFormsBorderWidth: 0.4rem !default
$wdWerneoFormsErrorPadding: 0.5rem 1rem 0.2rem 1rem !default
$wdWerneoFormsExpandedChoiceBorderWidth: 0.1rem !default
$wdWerneoFormsExpandedChoiceLabelMarginRight: 1.5rem !default
$wdWerneoFormsExpandedChoiceMarginRight: 0.5rem !default
$wdWerneoFormsExpandedChoiceSize: 1.5rem !default
$wdWerneoFormsInputSize: $wdWerneoElementSize !default
$wdWerneoFormsInputPaddingHorizontal: 1rem !default
$wdWerneoFormsInputPaddingVertical: 0 !default
$wdWerneoFormsSwitchHeight: 2rem !default
$wdWerneoFormsSwitchOutlineWidth: 0.1rem !default
$wdWerneoFormsSwitchPaddingHorizontal: 1rem !default
$wdWerneoFormsSwitchPaddingVertical: 0 !default
$wdWerneoFormsSwitchWidth: 1rem !default
$wdWerneoFormsTextareaPaddingHorizontal: 1rem !default
$wdWerneoFormsTextareaPaddingVertical: 0.5rem !default

/// lists
$wdWerneoListsItemBorderWidth: 0.4rem !default
$wdWerneoListsItemCheckerSize: 4rem !default
$wdWerneoListsItemHeight: 10rem !default
$wdWerneoListsItemHoverShadowWidth: 0.3rem !default
$wdWerneoListsItemOverlayHeight: 3.2rem !default
$wdWerneoListsItemPaddingHorizontal: 0.6rem !default
$wdWerneoListsItemPaddingVertical: 0.6rem !default

/// modal buttons
$wdWerneoModalButtonsBodyPaddingHorizontal: 2rem !default
$wdWerneoModalButtonsBodyPaddingVertical: 1rem !default
$wdWerneoModalButtonsCloseButtonOffsetHorizontal: 1rem !default
$wdWerneoModalButtonsCloseButtonOffsetVertical: 1rem !default
$wdWerneoModalButtonsHeaderBorderTopWidth: 0.1rem !default
$wdWerneoModalButtonsFooterPaddingHorizontal: 0.5rem !default
$wdWerneoModalButtonsFooterPaddingVertical: 0.5rem !default
$wdWerneoModalButtonsHeaderBorderBottomWidth: 0.4rem !default
$wdWerneoModalButtonsHeaderPaddingBottom: 0.5rem !default
$wdWerneoModalButtonsHeaderPaddingLeft: 1rem !default
$wdWerneoModalButtonsHeaderPaddingRight: 3.5rem !default
$wdWerneoModalButtonsHeaderPaddingTop: 1rem !default

/// modals

/// pagination

/// progress bar

/// scrollbars

/// tables

/// tabs

/// timeline

/// tree view

/// typography
$wdWerneoBasicFontFamily: Helevtica, Arial, sans-serif !default
$wdWerneoAccentFontFamily: Helevtica, Arial, sans-serif !default
$wdWerneoIconFontFamily: 'FontAwesome' !default
$wdWerneoBasicFontSize: 1.6rem !default

/// widgets
$wdWerneoWidgetsBorderRadius: $wdWerneoBorderRadius !default
