///////////////////////////////////////////////////////////////////////////////////
///            SWITCHES (plus additional size if minified)
///            minimal size is 2.5 kB
///            maximal size is 123 kB
///////////////////////////////////////////////////////////////////////////////////

/// use backgrounds ~ 0.5 kB
$wdWerneoUseBackgrounds: true !default
/// use badges ~ 0.5 kB
$wdWerneoUseBadges: true !default
/// use breadcrumbs ~ 1.25 kB
$wdWerneoUseBreadcrumbs: true !default
/// use buttons ~ 13 kB
$wdWerneoUseButtons: true !default
/// use chevrons ~ 1 kB
$wdWerneoUseChevrons: true !default
/// use code ~ 0.25 kB
$wdWerneoUseCode: true !default
/// use dropdowns ~ 28 kB
$wdWerneoUseDropdowns: true !default
/// use dynamic filters ~ 0.25 kB
$wdWerneoUseDynaFilter: true !default
/// use flash messages ~ 1.25 kB
$wdWerneoUseFlashMessages: true !default
/// use forms ~ 14 kB
$wdWerneoUseForms: true !default
/// use gallery ~ 1.25 kB
$wdWerneoUseGallery: true !default
/// use groups ~ 0.1 kB
$wdWerneoUseGroups: true !default
/// use lists ~ 15 kB
$wdWerneoUseLists: true !default
/// use modal buttons ~ 5 kB
$wdWerneoUseModalButtons: true !default
/// use modals ~ 2 kB
$wdWerneoUseModals: true !default
/// use pagination ~ 11 kB
$wdWerneoUsePagination: true !default
/// use progressbar ~ 1 kB
$wdWerneoUseProgressBar: true !default
/// use scrollbars ~ 0.25 kB
$wdWerneoUseScrollbars: true !default
/// use tables ~ 3.5 kB
$wdWerneoUseTables: true !default
/// use tabs ~ 9 kB
$wdWerneoUseTabs: true !default
/// use timeline ~ 6 kB
$wdWerneoUseTimeline: true !default
/// use tree view ~ 6 kB
$wdWerneoUseTreeView: true !default
/// use typography ~ 1.75 kB
$wdWerneoUseTypography: true !default
/// use widgets ~ 0.1 kB
$wdWerneoUseWidgets: true !default

///////////////////////////////////////////////////////////////////////////////////
///            GENERAL VARIABLES
///////////////////////////////////////////////////////////////////////////////////

/// base variables
$wdWerneoBorderRadius: 0 !default
$wdWerneoElementSize: 5rem !default

/// colors
$wdWerneoBlack: #000 !default
$wdWerneoCrimson: #dc143c !default
$wdWerneoGreyDark: #333 !default
$wdWerneoGreyMedium: #666 !default
$wdWerneoGreyLight: #ddd !default
$wdWerneoGreyLightest: #eee !default
$wdWerneoMauve: #d473d4 !default
$wdWerneoOrange: #f45633 !default
$wdWerneoTeal: #028428 !default
$wdWerneoTurquoise: #5af !default
$wdWerneoWhite: #fff !default
$wdWerneoYellow: #ffc200 !default

/// color map
$wdWerneoColors: ('turquoise' $wdWerneoTurquoise,'teal' $wdWerneoTeal,'yellow' $wdWerneoYellow,'crimson' $wdWerneoCrimson,'mauve' $wdWerneoMauve,'grey-dark' $wdWerneoGreyDark,'grey-light' $wdWerneoGreyLight,'orange' $wdWerneoOrange,'white' $wdWerneoWhite,'black' $wdWerneoBlack) !default

/// font weights
$wdWerneoLighter: 200 !default
$wdWerneoNormal: 400 !default
$wdWerneoBold: 700 !default

///////////////////////////////////////////////////////////////////////////////////
///            COMPONENT VARIABLES
///////////////////////////////////////////////////////////////////////////////////

/// badges
$wdWerneoBadgesPaddingVertical: 0.5rem !default
$wdWerneoBadgesPaddingHorizontal: 1rem !default

/// breadcrumbs
$wdWerneoBreadcrumbsRoot: "\\\\ " !default
$wdWerneoBreadcrumbsSeparator: " \\ " !default
$wdWerneoBreadcrumbsSubcrumbBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoBreadcrumbsSubcrumbBorderStyle: solid !default
$wdWerneoBreadcrumbsSubcrumbBorderWidth: 0.1rem !default
$wdWerneoBreadcrumbsSubcrumbMaxHeight: 20rem !default
$wdWerneoBreadcrumbsSubcrumbMaxWidth: 30rem !default
$wdWerneoBreadcrumbsSubcrumbPaddingHorizontal: 1rem !default
$wdWerneoBreadcrumbsSubcrumbPaddingVertical: 0.5rem !default
$wdWerneoBreadcrumbsSubcrumbTriggerHeight: 1rem !default
$wdWerneoBreadcrumbsSubcrumbTriggerWidth: 1rem !default

/// buttons
$wdWerneoButtonsBorderRadius: $wdWerneoBorderRadius !default
$wdWerneoButtonsFocusAnimationDuration: 1000ms !default
$wdWerneoButtonsFocusAnimationFunction: diagonalSplitBackgroundHover !default
$wdWerneoButtonsLoadingAnimationDuration: 1000ms !default
$wdWerneoButtonsLoadingAnimationFunction: loadMoreSpinner !default
$wdWerneoButtonsLoadingSize: $wdWerneoElementSize !default
$wdWerneoButtonsOutlineStyle: solid !default
$wdWerneoButtonsOutlineWidth: 0.2rem !default
$wdWerneoButtonsPaddingVertical: 1.6rem !default
$wdWerneoButtonsPaddingHorizontal: 3rem !default

/// chevrons
$wdWerneoChevronsHeight: 0.4rem !default
$wdWerneoChevronsWidth: 1.2rem !default

/// code
$wdWerneoCodePaddingHorizontal: 1rem !default
$wdWerneoCodePaddingVertical: 0.25rem !default
$wdWerneoPreePaddingHorizontal: 2rem !default
$wdWerneoPreePaddingVertical: 0 !default

/// dropdowns
$wdWerneoDropdownsBorderWidth: 0.4rem
$wdWerneoDropdownsHeight: $wdWerneoElementSize !default

/// forms
$wdWerneoFormsInputSize: $wdWerneoElementSize !default
$wdWerneoFormsBorderRadius: $wdWerneoBorderRadius !default

/// typography
$wdWerneoBasicFontFamily: Helevtica, Arial, sans-serif !default
$wdWerneoAccentFontFamily: Helevtica, Arial, sans-serif !default
$wdWerneoIconFontFamily: 'FontAwesome' !default
$wdWerneoBasicFontSize: 1.6rem !default

/// widgets
$wdWerneoWidgetsBorderRadius: $wdWerneoBorderRadius !default
