///////////////////////////////////////////////////////////////////////////////////
////            WD WIDGETS
///////////////////////////////////////////////////////////////////////////////////

.widget
	display: block
	background-color: $wdWerneoWhite
	border-radius: 0.3rem
	overflow: hidden
	p,small,big
		color: $wdWerneoGreyMedium
	img
		display: block
.widget-header
	background-color: $wdWerneoTurquoise
	padding: 1rem
	p,small,big
		margin: 0
		color: $wdWerneoWhite
.widget-body
.widget-footer
	margin: 0 0.5rem
	border-top: 0.1rem solid $wdWerneoGreyLight
