///////////////////////////////////////////////////////////////////////////////////
////            WD WIDGETS
///////////////////////////////////////////////////////////////////////////////////

.widget
	overflow: hidden
	border: 0.1rem solid $wdWerneoGreyLight
	img
		display: block
.widget-section
	padding: 2rem
